/* * {
    box-sizing: border-box;
} */

.app-root-container {
    border: 3px solid var(--border-color);
}

.title {
    background-color: var(--toolbar-bg-color);
    color: var(--toolbar-text-color);
    padding: 10px;
    border-bottom: 3px solid var(--border-color);
}

app-list {
    background-color: var(--container-bg-color);
    padding: 25px;
}