<!-- <div class="row" id="list-container"> -->
    <div class="col-10">
        <div class="row drag-drop-list" cdkDropList (cdkDropListDropped)="dragAndDropList($event)">
            <div class="col-3 each-list" *ngFor="let list of lists; index as i;"
             cdkDrag>
                <div>
                    <a>
                        <span tabindex="0" class="cross-icon" (click)="showDeleteListConfimBox(i)"
                        (keyup.enter)="showDeleteListConfimBox(i)"> 
                            &#10006;</span>
                    </a>
                </div>
                <div class="list-name">
                    <h4 tabindex="0" (click)="onClickOfListName(i)" (keyup.enter)="onClickOfListName(i)"
                    *ngIf="!list.editName">
                        {{ list.name }}
                    </h4>
                    <div *ngIf="list.editName">
                        <input #listName="ngModel" type="text" [(ngModel)]="list.name" required 
                        [ngModelOptions]="{standalone: true}" (blur)="onBlurOfListName(i)"
                        tabindex="0" (keyup.enter)="onBlurOfListName(i)">
                        <div [hidden]="listName.valid || listName.untouched" class="alert alert-danger">
                            <span>List name is mandatory.</span>
                        </div>
                        <div [hidden]="!list.dupFound">
                            <span>List name already exists.</span>
                        </div>
                    </div>
                </div>
                <div class="card-container" cdkDropList id="{{list.name}}" [cdkDropListData]="list.cards"
                [cdkDropListConnectedTo]="connectedTo" (cdkDropListDropped)="dragAndDropCard($event)">
                    <div class="blankHeight"></div>
                    <div *ngFor="let card of list.cards; index as j;" class="card-content" cdkDrag>
                        <div>
                            <a tabindex="0">
                                <span class="cross-icon" (click)="showDeleteCardConfimBox(i, j)"
                                (keyup.enter)="showDeleteCardConfimBox(i, j)">
                                &#10006;
                                </span>
                            </a>
                        </div>
                        <div (click)="onClickOfCardName(i, j)" (keyup.enter)="onClickOfCardName(i, j)">
                            <span tabindex="0">{{ card }}</span>
                        </div>
                        <div class="blankHeight"></div>
                        <div *ngIf="list.editCard[j]">
                            <input #cardNameEdit="ngModel" type="text" [(ngModel)]="list.cards[j]" required 
                            [ngModelOptions]="{standalone: true}" (blur)="onBlurOfCardName(i, j)"
                            tabindex="0" (keyup.enter)="onBlurOfCardName(i, j)">
                            <div [hidden]="cardNameEdit.valid || cardNameEdit.untouched" 
                            class="alert alert-danger">
                                <span>Card name is mandatory.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="list.add">
                    <form class="">  
                        <div class="form-group">  
                            <input tabindex="0" #cardName="ngModel" [(ngModel)]="list.cardContent" required 
                            [ngModelOptions]="{standalone: true}" class="card-input">
                            <button tabindex="0" type="submit" class="btn btn-success ml-2" 
                            (click)="addCardToList(i)" (keyup.enter)="addCardToList(i)"
                                [disabled]="cardName.invalid">+</button> 
                            <button tabindex="0" class="btn btn-danger" (click)="cancelAddOperation(i)"
                            (keyup.enter)="cancelAddOperation(i)">
                                x</button>
                            <div [hidden]="cardName.valid || cardName.untouched" class="alert alert-danger">
                                <span>Card name is mandatory.</span> 
                            </div>
                        </div>   
                    </form>  
                </div>
                <div *ngIf="!list.add">
                    <span tabindex="0" class="add-link"
                        (click)="showAddCard(i)" (keyup.enter)="showAddCard(i)"> 
                        <b>+ Add a card</b> 
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <span tabindex="0" class="add-link"
            (click)="addNewList()" (keyup.enter)="addNewList()"> 
            <b>+ Add another list</b> 
        </span>
    </div>
<!-- </div> -->
